.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text-secondary);
  padding: 1rem;
}
.header h1 {
  margin-top: 0;
}

.iconUser {
  cursor: pointer;
}
.iconUser:hover {
  transform: scale(1.2);
}
